@{
    ViewBag.Title = "Home Page";
}

@*<div class="row">
    <div class="jumbotron">
        <h1>Welcome to AndyTipster</h1>
        <p class="lead">Your one stop for Winning tips.</p>
        <p><a href="@Url.Action("HowToSubscribe", "Home")" class="btn btn-primary btn-lg">Subscribe in easy steps</a></p>
    </div>
</div>*@

@*<div class="container">
        <div class="col-md-6 col-sm-6">



            <div class="AW-Form-452195183"></div>
            <script type="text/javascript">
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//forms.aweber.com/form/83/452195183.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, "script", "aweber-wjs-d93otjwlr"));
            </script>

            <br />
        </div>

        <div class="col-md-6 col-sm-6">
            <a class="btn btn-primary btn-lg" href="winners.html" role="button">Recent winners</a>
            <a class="btn btn-primary btn-lg" href="https://docs.google.com/spreadsheets/d/1LNXHFH6wEN4BHbb4jiFjzRAfZzeBHhH3I2ueORi8dxc/edit?pref=2&amp;pli=1#gid=0" role="button">Daily Results</a>

            <br />
        </div>

    </div>*@

<div class="container">

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="pricign-box animated fadeInUp animation-delay-8">
                        <div class="pricing-box-header">
                            <h2>Ultimate pack</h2>
                            <p>Enjoy The 2 Brands For Less, The ultimate pack for the ultimate Deal</p>
                        </div>
                        @*<img src="~/Content/Template/img/uk-sports-home-image.jpg" class="img-responsive" alt="Image">*@
                    <div class="pricing-box-price">
                        <a href="@Url.Action("Purchase", "Subscription", new { id = "P-8AC488780J6779351TE4KW7A" })">
                            <h3>&pound;17 <sub>/ month</sub></h3>
                        </a> 


                    </div>
                    <div class="pricing-box-price">
                        <a href="@Url.Action("Purchase", "Subscription", new {id =  "P-9H0036907S152411BTE4K53Q"})">
                            <h3>&pound;45 <sub>/ 3 months</sub> </h3>
                            </a>
                    </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-check"></i>The combination of all sports- Horse Racing from the UK and IRE aswell as other sports</li>
                                <li><i class="fa fa-check"></i>Upon joining get our Guide and join our Ever growing Community</li>
                                <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                                <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                            </ul>
                        </div>
                        @*<div class="pricing-box-footer">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        Monthly Subscription
                                    </div>
                                    <div class="col-md-6 col-sm-6"> 3 Monthly Subscription </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="KHGW63NN8XESG">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="RVBUN6L6JT9LE">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>


            </div> <!-- row -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="pricign-box animated fadeInUp animation-delay-7">
                <div class="pricing-box-header">
                    <h2>Andy Tipster Package</h2>
                    <p>Specialising in UK Racing</p>
                </div>
                <img src="~/Content/Template/img/uk-sports-home-image.jpg" class="img-responsive" alt="Image">
                <div class="pricing-box-price">
                    <a href="@Url.Action("Purchase", "Subscription", new {id =  "P-8FA01768GN086944DTE4J2PI"})">
                        <h3>&pound;13 <sub>/ month</sub></h3>
                        </a>
                </div>
                <div class="pricing-box-price">
                    <a href="@Url.Action("Purchase", "Subscription", new {id =  "P-8NM2876475709704TTE4KBHA"})">
                        <h3>  &pound;35 <sub>/ 3 months</sub> </h3>
                        </a>
                </div>

                <div class="pricing-box-content">
                    <ul>
                        <li><i class="fa fa-check"></i>Membership group that's amassed Thousands of &pound;&pound; Profit Since Feb 2013</li>
                        <li><i class="fa fa-check"></i>Daily Emails With Hours to get The bets on, No last Minute bets</li>
                        <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>
                        <li><i class="fa fa-check"></i>Join Our Andy Tipster Community and be part of something much bigger</li>
                        <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                        <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                    </ul>


                </div>
                @*<div class="pricing-box-footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-6"> Monthly Subscription  </div>
                            <div class="col-md-6 col-sm-6"> 3 Monthly Subscription </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="HKEPESP58WVUY">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="2PMZJWNZQ7VH8">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </div>



                        </div>
                    </div>*@
            </div>
        </div>


        <div class="col-md-6 col-sm-6">
            <div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-9">
                <div class="pricing-box-header">
                    <h2>Irish Horse Racing</h2>
                    <p>Solely Irish Horse Racing Tips</p>
                </div>
                <img src="~/Content/Template/img/Irish-horce-racing-home-image.jpg" class="img-responsive" alt="Image">
                <div class="pricing-box-price">
                    <a href="@Url.Action("Purchase", "Subscription", new {id =  "P-49A56000A6163212YTE4KIQI"})">
                        <h3>&pound;10 <sub>/ month</sub> </h3>
                        </a>
                </div>
                <div class="pricing-box-price">
                    <a href="@Url.Action("Purchase", "Subscription", new {id =  "P-5U268280XB476211XTE4KPTY"})">
                        <h3>&pound;27.50 <sub>/ 3 months</sub> </h3>
                        </a>
                </div>
                <div class="pricing-box-content">
                    <ul>
                        <li><i class="fa fa-check"></i>A Points System To Ensure a Control and guidance on Winning</li>
                        <li><i class="fa fa-check"></i>Proven Success on facebook With Years of Gains at level Stakes</li>
                        <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>
                        <li><i class="fa fa-check"></i>The Sister But Definitely Not the understudy To Andy Tipster since Dec 2013</li>
                        <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                        <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                    </ul>
                </div>
                @*<div class="pricing-box-footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-6"> Monthly Subscription  </div>
                            <div class="col-md-6 col-sm-6"> 3 Monthly Subscription </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="3UN6CZCU5J8NE">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="KDKN6JPEALU3U">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </div>



                        </div>
                    </div>*@
            </div>
        </div>
    </div>






</div>







