@model FazTipster.Models.Subscription.PurchaseVm

@{
    ViewBag.Title = "Subscription";
}


<div class="heads">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Making a Payment</h1>
                <h3>All our payments are through Paypal. You can use your Paypal account or a Debit Card on the next step.</h3>
                <h3>Please check your selected subscription and click payment button.</>
            </div>
        </div>
    </div>
</div>


        <div class="row" style="margin-top:50px;">
            <div class="col-md-6 col-sm-8">
                <div class="pricign-box animated fadeInUp animation-delay-7">
                    <div class="pricing-box-header">
                        <h2>@Model.Plan.Name</h2>
                        @*<p>nisi anim mollit in labore ut esse</p>*@
                    </div>
                    <div class="pricing-box-price">
                        <h3>£@((Model.Plan.Price / 100M).ToString("0.00")) <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> @Model.Plan.Description</li>
                            @*<li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>*@
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        @*<a href="#" class="btn btn-default">Order Now</a>*@
                        @using (Html.BeginForm("Purchase", "Subscription", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(x => x.Plan.PayPalPlanId)
                            @Html.HiddenFor(x => x.FirstName)
                            @Html.HiddenFor(x => x.LastName)
                            @Html.HiddenFor(x => x.Email)
                            <button type="submit" class="btn btn-primary">Pay £@((Model.Plan.Price / 100M).ToString("0.00")) with PayPal</button>
                        }
                        </div>
                </div>
            </div>
        </div>


